<div class="container">
    <h3>Ski Resort Explorer</h3>
    <p>This website allows users to search for and retrive information 
        about ski resorts. Users are also able to add their own ski resorts
        to the site. </p>
        <p>Information for each resort is:</p>
        <ul>
            <li>Name</li>
            <li>Location</li>
            <li>Year opened</li>
            <li>Rating</li>
            <li>Features</li>
        </ul>
        <p> Users are also able to live chat with others, and are encouraged to 
            talk about skiing.
        </p>
        <p>This site also allows for users to leave reviews about the quality
            of the site.
        </p>
    <br>
    <h4>Group Members:</h4>
    <h5>Zain Bhaila</h5>
    <h5>Alex Wallish</h5>
</div>