<div class="container">
  <form id="forms" class="addingReview" method="POST" action="/addreview">
    <div class="input_divs">
      <div class="inner_input">
        Your name:
        <input id="name" name="name" type="text" placeholder="Name" autocomplete="off" required>
      </div>
      <div class="inner_input">
        Give a rating out of 5 for our site:
        <input id="rating" type="text" name="rating" placeholder="Rating" autocomplete="off" required>
      </div>
      <div class="inner_input">
        Enter your review:
        <textarea class="form-control" id="comments" name="comments" type="text" placeholder="Review" 
        rows="5" autocomplete="off" value=""></textarea>
      </div>
      <button id="sub" class="btn btn-success card-1" type="submit" disabled>Submit Review</button>
    </div>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function (){
  $('input').on('blur keyup', function() {
      if ($("#name").val() && parseFloat($("#rating").val())) {
          $('#sub').prop('disabled', false);
      } else {
          $('#sub').prop('disabled', true);
      }
  });
})
</script>
