<div class="chatrooms">
	<h1>Welcome to the chat room! Talk about skiing here!</h1>
	<ul id="messages"></ul>
	<form id="box" action="">
		<input id="message" name="message" autocomplete="off" placeholder="message"/>
		<input id="name" name="name" autocomplete="off" placeholder="name"/>
		<button >Send</button>
	</form>
</div>
