<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/css/normalize.css">
  <title>Ski Resorts</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<div class="nav" style="margin-bottom: 30px;">
  <div>
    <a href="/"><button class="btn btn-primary card-1">Home</button></a>
    <a href="/alphabetical"><button class="btn btn-primary card-1">Alphabetical</button></a>
    <a href="/eastcoast"><button class="btn btn-primary card-1">East Coast</button></a>
    <a href="/oldest"><button class="btn btn-primary card-1">Oldest</button></a>
    <a href="/rating"><button class="btn btn-primary card-1">Highest Rated</button></a>
    <a href="/featurecount"><button class="btn btn-primary card-1">Most Features</button></a>
    <a href="/addresort"><button class="btn btn-primary card-1">Add New</button></a>
  </div>
</div>

<body>
  {{{body}}}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</body>

</html>
